{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support",
    "flow"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  },
  "plugins": [
    "relay",
    ["react-flow-props-to-prop-types", {}]
  ]
}